directories:
  - directory: /home/tabb99/arch-test/abc
    file-patterns: 
      - pattern: "*.csv"
        finished-secs: 2600
      - pattern: "*.log"
        finished-secs: 3000
    bucket: orca.acep.org/abc
    archive-dir: /home/tabb99/arch-test/archive/abc
    delete-after: 365          # days
  - directory: /home/tabb99/arch-test/xyz
    file-patterns:
      - pattern: "*.txt"
        finished-secs: 500
    bucket: orca.acep.org/xyz
    archive-dir: /home/tabb99/arch-test/archive/xyz
