log-file-dir: /home/tabb99/arch-test/log     # optional
log-level: INFO                              # optional
directories:
  - directory: /home/tabb99/arch-test/data
    file-patterns: 
      - pattern: "*.csv"
        finished-secs: 20                    # optional
    archive-dir: /home/tabb99/arch-test/archive/data
    bucket-and-key: dataacq.analysisnorth.com/powerhouse/kwethluk/data
    delete-after: 365          # days, optional parameter
  - directory: /home/tabb99/arch-test/daily-logs
    file-patterns:
      - pattern: "*.log"
        finished-secs: 10
    archive-dir: /home/tabb99/arch-test/archive/daily-logs
    bucket-and-key: dataacq.analysisnorth.com/powerhouse/kwethluk/daily-logs
    delete-after: 0.0000000001          # days, optional parameter
